# gitignore
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 🔐 환경 변수
.env
.env.local
.env.production
.env.development

# 🐳 Docker
docker-compose.override.yml
docker-volume/
.container-build/
tmp/

# 📦 기타
*.tgz
*.tsbuildinfo
